<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron text-center" style="background-color: #FCE0E5;">
        <h1 style="color: white; font-size: 5em;">An Error Occurred!</h1>
      </div>

    </div>
  </body>
</html>
