<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3" style="margin-top: 50px;">
      <div>
        <h1 style="color:white;">Contact</h1>
        <img src="/uploads/7529B596-21B5-4705-B634-6661238E6F69_1_105_c.jpeg" class="img-fluid img-thumbnail" style="width:600px">
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <p style="color: white; font-family:sans-serif; text-align: center; font-size: 1.2em;">kongji0819@gmail.com</p>
          <div class="row">
            <div class="col-6">
              <a href="https://github.com/choikongji"><img style="background: transparent;" src="/uploads/free-icon-github-logo-25231.png" ></a>
            </div>
            <div class="col-6">
              <a href="https://instagram.com/kongji_s?utm_medium=copy_link"><img style="background: transparent;" src="/uploads/instagram_higumi.png" ></a>
            </div>
        </div>
        </div>
        
      </div>
    </div>
  </body>
  <script>
    $(window).on('load', function () {
        $('body').sakura();
    });
  </script>
</html>
