<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron text-center">
        <h1>KONGJAY</h1>
        <P>Security Blog</p>
      </div>

    </div>
  </body>
</html>
