<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body></body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="row">
        <div class="jumbotron col-4" style="background-color: #FCE0E5;">
          <h1 style="color:white; font-size: 3.5em;">KONGJAY</h1>
          <h4 class="text-center" style="color:white;">Security Blog</h4>
          <img src="https://kongjay.com/uploads/1625831026029.jpeg" class="img-fluid img-thumbnail">
          <h1> </h1>
          <img src="https://kongjay.com/uploads/1625831704823.jpeg" class="img-fluid img-thumbnail">
          <h6 class="text-center" style="color:white;">Copyright © all rights reserved 2021</h6>
        </div>
        <div class="jumbotron col-8" style="background-color: #FCE0E5;">
          <img src="https://kongjay.com/uploads/1625830583264.jpeg" class="img-fluid img-thumbnail">
        
          <h1 class="text-center" style="color:white; font-size: 5em; margin-top: 50px;"><i class="fab fa-instagram"></i><a href="https://instagram.com/kongji_s?utm_medium=copy_link" style="color:white;">kongji_s</a></h1>
      </div>
    </div>
  </body>
</html>
