<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body></body>
    <%- include('../partials/nav') %>

    <div class="container mb-3" style="overflow: hidden;">
      <div class="row">
        <div class="jumbotron col-4" style="background-color: #FCE0E5;">
          <h1 style="color:white; font-size: 3.5em;" id="mdTitle">KONGJAY</h1>
          <h4 class="text-center" style="color:white;" id="mdTitle">Security Blog</h4>
          <h4 style="color:white;" id="mdHome">KONGJAY</h4>
          <h6 class="text-right" style="color:white;" id="mdHome">Security Blog</h6>
          <img src="https://kongjay.com/uploads/1625831026029.jpeg" class="img-fluid img-thumbnail">
          <h1> </h1>
          <img src="https://kongjay.com/uploads/1625831704823.jpeg" class="img-fluid img-thumbnail">
          
        </div>
        <div class="jumbotron col-8" style="background-color: #FCE0E5;">
          <img src="https://kongjay.com/uploads/1625830583264.jpeg" class="img-fluid img-thumbnail">
        
          <h1 class="text-center" style="color:white; font-size:5em; margin-top: 50px;" id="mdTitle"><i class="fab fa-instagram"></i><a href="https://instagram.com/kongji_s?utm_medium=copy_link" style="color:white;text-decoration: none;" target="_blank">kongji_s</a></h1>
          <h1 class="text-center" style="color:white; margin-top: 50px;" id="mdHome"><i class="fab fa-instagram"></i><a href="https://instagram.com/kongji_s?utm_medium=copy_link" style="color:white;text-decoration: none;" target="_blank">kongji_s</a></h1>
      </div>
    </div>
    <div class="container mb-3">
      <h6 class="text-center" style="color:white;">Copyright © 2021 Kongjay All Rights Reserved</h6>
    </div>
  </body>
  <script>
    $(window).on('load', function () {
        $('body').sakura();
    });
  </script>
</html>
