<!DOCTYPE html>
<html>
    <head>
      <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/diarystyle.css" type="text/css" />
        
    </head>
    <body>
      <%- include('../partials/nav') %>
        <nav class="navbar navbar-light sticky-top bg-light">
        <a class="navbar-brand" href="/diary"><i class="fab fa-instagram"></i> KongJgram</a>
            <ul class="nav ">
                <li class="nav-item">
                  <% if(isAdminLoggedin){ %>
                    <button type="button" class="btn btn-primary btn-md btn-success"data-toggle="modal" data-target="#exampleModal">Create a new post</button>
                  <% } %>
                  <a href="https://instagram.com/kongji_s?utm_medium=copy_link" target="_blank" class="btn btn-primary btn-md btn-primary">@kongji_s</a>
                </li>
            </ul>
        </nav>
        

        
        <% if(isAdminLoggedin){ %>
          <div class="container-fluid ">
            <!-- Tab panes -->
            <div class="tab-content ">
              <div id="home" class="container-fluid tab-pane active "><br>
                  <div class="row justify-content-center">
                      <div class="col-md-7 col-lg-8 col-xl-9 order-sm-2 order-md-1">
                          
                        <div class="card mx-auto custom-card" style="width: 800px;" id="prova">
                          
                          <img class="img-fluid img-thumbnail" id="img" src="https://kongjay.com/uploads/1625897938307.png" alt="Card image cap">
                          <div class="card-body px-3">
                            <h5 class="card-title">2021년 7월 7일</h5>
                            <div class="modal-footer"></div>
                            <div class="modal-body ">
                              <textarea class="form-control" style="height: 5em;"></textarea>
                              <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">
                                <input type="file" id="FILE_TAG" name="FILE_TAG">
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" onClick="window.location.reload()" class="btn btn-danger btn-sm">취소</button>
                              <button type="button" class="btn btn-success btn-sm" onclick="javascript:sendFile()"> 작성하기</button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>    
                </div>
                
                
            </div>
          </div>
        <% } %>
            
        <div class="container-fluid ">
            <!-- Tab panes -->
            <div class="tab-content ">
              <div id="home" class="container-fluid tab-pane active "><br>
                  <div class="row justify-content-center">
                      <div class="col-md-7 col-lg-8 col-xl-9 order-sm-2 order-md-1">
                          
                        <div class="card mx-auto custom-card" style="width: 800px;" id="prova">
                          <img class="card-img" src="/uploads/KakaoTalk_Photo_2021-07-07-16-23-06 002.jpeg" alt="Card image cap">
                          <div class="card-body px-3">
                            <h5 class="card-title">2021년 7월 7일</h5>
                            <div class="modal-footer"></div>
                              <p class="card-text">TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST</p>
                              <% if(isAdminLoggedin){ %>
                                <button type="button" class="btn btn-danger btn-sm">삭제</button>
                              <% } %>
                          </div>
                        </div>

                        <div class="card mx-auto custom-card" style="width: 800px;" id="prova">
                          <img class="card-img" src="/uploads/KakaoTalk_Photo_2021-07-07-16-23-07 003.jpeg" alt="Card image cap">
                          <div class="card-body px-3">
                            <h5 class="card-title">2021년 7월 6일</h5>
                            <div class="modal-footer"></div>
                              <p class="card-text">TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST</p>
                          </div>
                        </div>

                        <div class="card mx-auto custom-card" style="width: 800px;" id="prova">
                          <img class="card-img" src="/uploads/KakaoTalk_Photo_2021-07-07-16-23-05 001.jpeg" alt="Card image cap">
                          <div class="card-body px-3">
                            <h5 class="card-title">2021년 7월 5일</h5>
                            <div class="modal-footer"></div>
                              <p class="card-text">TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST</p>
                          </div>
                        </div>

                          
                  
                      </div>
                  </div>    
              </div>
              
              
          </div>
        </div>
    </body>
    <script>

      var sel_file;
  
      $(document).ready(function() {
          $("#FILE_TAG").on("change", handleImgFileSelect);
      });
  
      function handleImgFileSelect(e) {
          var files = e.target.files;
          var filesArr = Array.prototype.slice.call(files);
  
          var reg = /(.*?)\/(jpg|JPC|jpeg|JPEG|png|PNG|bmp|BMP|HEIC|heic)$/;
  
          filesArr.forEach(function(f) {
              if (!f.type.match(reg)) {
                  alert("확장자는 이미지 확장자만 가능합니다.");
                  return;
              }
  
              sel_file = f;
  
              var reader = new FileReader();
              reader.onload = function(e) {
                  $("#img").attr("src", e.target.result);
              }
              reader.readAsDataURL(f);
          });
      }

      function sendFile() {
        var data = new FormData();
        data.append( "file", $("#FILE_TAG")[0].files[0] );
        $.ajax({
          data : data,
          type : "POST",
          url : "/imageUpload",
          enctype: 'multipart/form-data',
          cache: false,
          contentType: false,
          processData: false,
          success:function(response) {
               alert("이미지 업로드를 성공 하였습니다!!");
               console.log(response);
           },
           error: function (jqXHR) 
           { 
               alert("이미지 업로드 실패!!"); 
           }
        });
      }

      
    </script>
</html>